.profile__container{
    display: flex;
    justify-content:left;
}
.profile__content{
    margin: 1em;
}
.profile__name {
    border-radius: 0;
    width: 100%;
    height: auto;
    display: block;
}
.profile__bio {
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 0.8rem;
    font-size: 0.9rem;
    max-width: 500px;
    opacity: 0.8;
}